body {
    font-size:1.6rem;

}
.navbar {
    z-index:2;
    position:fixed;
    top:0;
    width:100%;
}

#home {
    background-image: url(newunion_org-jersey-5457156_1920.jpg);
    background-size:cover;
    height: 60%;
    width: 100%;
    position: absolute;
    top:440%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index:-1
}

.siema {
    font-size:1.6rem
}
.siema::before {
    content: '\1F454'
}
.collapse {
    font-size:1.8rem
}
.siema2 {
    font-size:4.8rem
}
.siema3 {
    font-size:4.8rem;
    position:relative;
    left:30%;
    color:orange
}
#siema5::before {
    content:'\1F387' 
}
#home2 {
     
    background-image: url(newunion_org-jersey-5457156_1920.jpg);
    background-size:cover;
    height: 60%;
    width: 100%;
    position: absolute;
    top:0vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index:-1
}

.justAfterHeroBackground {
    margin-top: 60%;
}

.carousel {
    /* position:absolute; */
    top:70%;
    left:35%;
    width:400px;
    z-index: 0;
}
.tekst1 {
    font-size:10vh;
    /* position: absolute; */
    /* top:60%; */
    width:40%;
    color:rgb(17, 36, 92);
}


@media(max-width:600px){
    .carousel{
        position:absolute;
    top:130%;
    left:0%;
    width:300px;
    }
    .siema3 {
    font-size:3.4rem;
    position:relative;
    left:0%;
    color:orange
}
.collapse{
    font-size:1.8rem
}
body{
    overflow-x:hidden;
}
}
