body {
    font-size:1.6rem

}
.navbar {
    position:fixed;
    top:0;
    width:100%;
}

#home {
    background-image: url(newunion_org-jersey-5457156_1920.jpg);
    background-size:cover;
    height: 60vh;
    width: 100vw;
    position: absolute;
    top:440vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index:-1
}

.siema {
    font-size:1.6rem
}
.siema::before {
    content: '\1F454'
}
.collapse {
    font-size:1.8rem
}
.siema2 {
    font-size:4.8rem
}
.siema3 {
    font-size:4.8rem;
    position:relative;
    left:30%;
    color:orange
}
#siema5::before {
    content:'\1F387' 
}